/* ----------mobile------------- */

#about {
  height: 100vh;
  width: 100vw;
  background: #EC576B;
  font-family: 'Lato', sans-serif;
  /* min-height: 960px; */
}

#about > h1 {
  color: #FFF;
  font-size: 32px;
}
/* ----------- end ------------- */