/* ----------mobile------------- */

#about {
  height: 100vh;
  width: 100vw;
  background: #EC576B;
  font-family: 'Lato', sans-serif;
  color: #FFF;
}

#about > h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 66px 0;
}

#about > ul {
  width: 74%;
  margin: 0 auto;
}

#about > ul > li {
  padding: 4px 0;
}
/* ----------- end ------------- */