nav {
    width: 100%;
    background: #000;
    text-align: right;
}

nav > ul > li {
    display: inline-block;
    padding: 1em;
    margin: 0 -2px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
}

nav > ul > li:first-child {
    background: #fedc3d;
}

nav > ul > li:nth-child(2){
    background: #01abaa;
}

nav > ul > li:nth-child(3){
    background: #fea680;
}

@media (min-width: 600px) {
  nav > ul > li {
    display: inline-block;
    padding: 1.5em;
    margin: 0 -2px;
  }
}