/* General rule */
.button-big
{
  font-size: 2.5em;
  width: 4em;
  text-align:center;
  padding: 0.2em 0em 0.2em 0em;
  display: inline-block;
}

/* Linkedin class and animation */
.linkedin
{
  color: #0077B5;
  border: 1px solid #0077B5;
}

.linkedin:hover
{
  animation: linkedinAnim 0.4s normal forwards linear;
  -webkit-animation: linkedinAnim 0.4s normal forwards linear;
}
@keyframes linkedinAnim {
  50% {
    background-color: #0077B5;
  }
  100% {
    background-color: #0077B5;
    border: 1px solid #0077B5;
    color: #fff;
  }
}

@-webkit-keyframes linkedinAnim {
  50% {
    background-color: #0077B5;
  }
  100% {
    background-color: #0077B5;
    border: 1px solid #0077B5;
    color: #fff;
  }
}

/* Facebook class and animation */
.facebook
{
  color: #3B5998;
  border: 1px solid #3B5998;
}

.facebook:hover
{
  animation: facebookAnim 0.4s normal forwards linear;
  -webkit-animation: facebookAnim 0.4s normal forwards linear;
}

@keyframes facebookAnim {
  50% {
    background-color: #3B5998;
  }
  100% {
    background-color: #3B5998;
    border: 1px solid #3B5998;
    color: #fff;
  }
}

@-webkit-keyframes facebookAnim {
  50% {
    background-color: #3B5998;
  }
  100% {
    background-color: #3B5998;
    border: 1px solid #3B5998;
    color: #fff;
  }
}

/* Google class and animation */
.gplus
{
  color: #dd4b39;
  border: 1px solid #dd4b39;
}

.gplus:hover
{
  animation: gplusAnim 0.4s normal forwards linear;
  -webkit-animation: gplusAnim 0.4s normal forwards linear;
}

@keyframes gplusAnim {
  50% {
    background-color: #dd4b39;
  }
  100% {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
    color: #fff;
  }
 }
  
@-webkit-keyframes gplusAnim {
  50% {
    background-color: #dd4b39;
  }
  100% {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
    color: #fff;
  }
}

/* Github class and animation */
.github
{
  color: #000;
  border: 1px solid #000;
}

.github:hover
{
  animation: githubAnim 0.4s normal forwards linear;
  -webkit-animation: githubAnim 0.4s normal forwards linear;
}

@-webkit-keyframes githubAnim {
  50% {
    background-color: #000;
  }
  100% {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
  }
}
  
@keyframes githubAnim {
  50% {
    background-color: #000;
  }
  100% {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
  }
}
/* Yahoo class and animation */
.yahooo
{
  color: #720e9e;
  border: 1px solid #720e9e;
}

.yahooo:hover
{
  animation: yahoooAnim 0.4s normal forwards linear;
  -webkit-animation: yahoooAnim 0.4s normal forwards linear;
}

@-webkit-keyframes yahoooAnim {
  50% {
    background-color: #720e9e;
  }
  100% {
    background-color: #720e9e;
    border: 1px solid #720e9e;
    color: #fff;
  }
}
@keyframes yahoooAnim {
  50% {
    background-color: #720e9e;
  }
  100% {
    background-color: #720e9e;
    border: 1px solid #720e9e;
    color: #fff;
  }
}

/* Links */
a
{
  color: #9b59b6;
  text-decoration: none;
}