@import('reset.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;;
  justify-content: flex-end;
  height: 100vh;
  font-size: 0;
}

#board {
  height: 480px;
  width: 560px;
  border: 2px solid #000;
}

#playerChoice {
  width: 560px;
  height: 80px;
}

#playerChoice > .choice {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.row > div {
  display: inline-block;
  display: inline-block;
  width: 80px;
  height: 80px;
}


.choice:hover {
  background: lightgrey;
}

.player1 {
  height: 80px;
  width: 80px;
  background: red;
  border-radius: 100%; 
}

.player2 {
  height: 80px;
  width: 80px;
  background: black;
  border-radius: 100%;
}