
nav{
  ul{
    a{
      line-height: 64px;
    }
  }
}

.mainimg{
  width: 100%;
  height: 100%;
}

.title{
  text-align: center;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
}
.content{
  padding-top: 3em;
  overflow: auto;
}
.me{
  float: right;
  margin-right: 1em;
}
.aboutme{
  text-align: center;
  margin-top: 2em;
}
.left{
  float: left;
  width: 50%;
  margin-left: 1em;
}
.left p{
  padding-top: 1em;
  line-height: 2em;
  text-align: center;
}


.about{
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
}


*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

.social-buttons {
  height: 90px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
 /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
  background-color: #3B5998;
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.twitter:before {
  background-color: #3CF;
}
.social-button.twitter .fa {
  color: #3CF;
}
.social-button.google:before {
  background-color: #DC4A38;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.dribbble:before {
  background-color: #F26798;
}
.social-button.dribbble .fa {
  color: #F26798;
}
.social-button.skype:before {
  background-color: #00AFF0;
}
.social-button.skype .fa {
  color: #00AFF0;
}
.social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.social-button:focus {
  opacity: .85;
}