.home > h1{
  text-align:center;
  color:white;
  font-size:80px;
  font-family: 'Arvo', serif;
  padding-top:100px;
}
.home > h2{
  text-align:center;
  color:white;
  font-size:30px;
  margin-top:-40px
}
.home img{
  border-radius:150px;
  border: 4px solid white;
}

.home{
    background:url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10702040_10203063366889397_3523330886446997819_n.jpg?oh=59077e9b19125fa0bd4687b13a3c8554&oe=54FD3956&__gda__=1427470899_e6303aca82b4a54a2ad70a874ddb1061");
height:640px;
background-repeat: no-repeat;
background-size: cover;
margin-top:-60px;
margin-left:-50px;
margin-right:-8px;
}
a{
  text-decoration:none;
  font-size:28px;
  color:white;
  spacing:30%;
  font-family: 'Arvo', serif;
}
a:hover{
  color:red;
}

nav{
  width:100%;
  background:rgba(0,0,0,.5);
  z-index:1;
  position:fixed;
  margin-left:-10px;
  height:75px
}
nav > ul{
  list-style:none;
  padding-top:60px
  width:50px;
  margin-top:25px;
  float:right;
  padding-right:40px;
  
}
ul li{
  padding:8px;
  display:inline;

}

.about{
  height:600px;
  border:2px solid black;
  margin-left:-10px;
  margin-right:-10px;
  padding-top:100px;
}

.imgabout{
  float:left;
  margin-top:25px;
}
.aboutme h1{
  text-align:center;
  margin-top:25px;
  font-family: 'Arvo', serif;
}
.aboutme p{
text-align:center;
}
h3{
  text-align:center;
  font-family: 'Arvo', serif;
}

.skills{
  text-align:center;
}

.contact{
  background:black;
  color:white;
  height:660px;
  margin-right:-10px;
  margin-left:-10px;
  margin-top:-21px;
  text-align:center;
}
.contact h1{
  font-family: 'Arvo', serif;
  padding-top:80px;
}
.resume{
  float:right;
  text-align:center;
  padding-top:10%;
  padding-right:15%;
}
.contactinfo{
  float:left;
  padding-left:10%;
}
.contactinfo img{
  padding-top:20px;
}
#overlay{
  background:rgba(0,0,0,.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}
#overlay img{
  margin-top:10%;
}
#overlay p{
  color:white;
}
