#welcome{
	height: 100vh;
}

#test{
	height: 100vh;
}
.image1{
	background-image: url(building-red.jpg);
	width: 100%;
	height: 100%;
	background-repeat: none;
	z-index: 1;
	background-attachment: fixed;
}

.image2{
	background-image: url(building-purple.jpg);
	width: 100%;
	height: 100%;
	background-repeat: none;
	z-index: 1;
	background-attachment: fixed;
}

#about{
	height: 100vh;
}
.ball{
	height: 40px;
	width: 40px;
	border-radius: 2000px;
	margin: 0 auto;
	display: inline-block;
	position: absolute;
}
.red{
	background: #EA5A62;
}

.blue{
	background: #00F;
}

.purple{
	background: #8F77CC;
}

.yellow{
	background: #FF0;
}

.one{
	left: 10%;
}
.two{
	left: 20%;
}
.three{
	left: 30%;
}
.four{
	left: 40%;
}
.five{
	left: 50%;
}
.six{
	left: 60%;
}
.seven{
	left: 70%;
}
.eight{
	left: 80%;
}